<!--<script type="text/ng-template" id="nodes_renderer.html">-->
    <!--<a ui-sref=".detail({jobName: jobName, key: node.key})" ng-if="node.nodes  == ''">{{node.title}}-->
        <!--<span id="{{node.id}}"></span></a>-->
    <!--<a ng-click="showNav()" ng-if="node.nodes != ''" target="" class="">{{node.title}}<span id="{{node.id}}"></span></a>-->
    <!--<div class="white-triangle"></div>-->
    <!--<div class="utility-item-nav" ng-class="{'navActive': isActive}"  ng-if="node.nodes  != ''">-->
        <!--<ul class="nav nav-pills nav-stacked" name="">-->
            <!--<li role="presentation" ng-repeat="node in node.nodes" ng-include="'nodes_renderer.html'"></li>-->
        <!--</ul>-->
    <!--</div>-->

<!--</script>-->

<script type="text/ng-template" id="nodes_renderer1.html">
    <div ui-tree-handle class="">
        <a class="" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)" >{{node.title}}</a>
        <a class="" ng-if="!node.nodes || node.nodes.length == 0" data-nodrag ui-sref=".detail({jobName: jobName, key: node.key})">{{node.title}}</a>
    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer1.html'" data-collapsed ="true">
        </li>
    </ol>
</script>

<div class="work-space">
    <header class="header">
        <div class="row">
            <div class="col-md-2">
                <h1>
                    <a ui-sref="feature({type: 'export'})" ng-if="type == 'export'"><i class="arrow-back"></i><span>Back to List</span></a>
                    <a ui-sref="feature({type: 'import'})" ng-if="type == 'import'"><i class="arrow-back"></i><span>Back to List</span></a>
                    <a ui-sref="feature({type: 'delete'})" ng-if="type == 'delete'"><i class="arrow-back"></i><span>Back to List</span></a>
                </h1>
            </div>
            <div class="col-md-8 text-center">
                <h1>Viewing an {{type.charAt(0).toUpperCase() + type.slice(1);}} job 1 of 1 </h1>
            </div>
            <div class="col-md-2">
                <h1><a class="refresh" href="javascript: location.reload();">Refresh</a></h1>
            </div>
        </div>

    </header>

        <div class="row">
            <div class="col-md-2">
                <div class="workspace-no-utility-menu">
                <div id="utility-menu" style="overflow: auto">
                    <div class="panel panel-danger no-border no-margin">
                        <div class="padding-left-14px">
                            <h3>{{jobName}}</h3>
                            <h5>Status: {{jobStatus}}</h5>
                            <h5>Description: {{description}}</h5>
                        </div>
                        <!--<div class="panel-body utility-item-group">-->
                            <!--<ul class="nav nav-pills nav-stacked" name="">-->
                                <!--<li role="presentation" ng-repeat="node in data" ng-include="'nodes_renderer.html'"></li>-->
                            <!--</ul>-->
                        <!--</div>-->

                        <div ui-tree id="tree-root" data-nodrag class="panel-body utility-item-group">
                            <ol ui-tree-nodes ng-model="data">
                                <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer1.html'" data-collapsed ="true"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-9">
                <div ui-view=""></div>
            </div>
        </div>

</div>
