<div>
    <b>CONTACT US</b>
    <p>Phone: 805-756-2311</p>
    <a  href="mailto:admissions@calpoly.edu">admissions@calpoly.edu</a>
    <a  href="http://admissions.calpoly.edu/contact/"> Department Contacts</a>
</div>
</div>

<div class="largeNavRight">

    <div><h3>APPLY TO CAL POLY</h3>
        <ul>
            <li><a href="http://admissions.calpoly.edu/applicants/freshman/">Freshman</a></li>
            <li><a href="http://admissions.calpoly.edu/applicants/transfer/">Transfer</a></li>
            <li><a href="http://admissions.calpoly.edu/applicants/graduate/">Graduate</a></li>
            <li><a href="http://admissions.calpoly.edu/applicants/international/">International</a></li>
            <li><a href="http://admissions.calpoly.edu/applicants/">Tips for Applicants</a></li>
        </ul>
    </div>
</div>