<div id="contentNav">
    <div id="contentNavInner">
        <!-- #BeginEditable "Table Of Contents" --><!-- #EndEditable -->
    </div></div><!--contentNav-->

<div id="mainLeft">
    <a name="topH1"></a>
    <!-- #BeginEditable "Main Left" -->
    <h1>Getting Started</h1>
    <p>Here you'll find the essential processes needed to implement a   Web site at Cal Poly. Not all of the information is relevant to all   types of sites. Where applicable, requirements for &quot;official&quot; Cal Poly   Web sites are stated.</p>
    <ol>
        <li>Begin with <a href="site_type.html">&quot;What Type of Web Site do you need?&quot;</a></li>
        <li>Next, determine <a href="resources.html">&quot;The Resources You Will Need&quot;</a> to ascertain to construct and publish your Web site at Cal Poly.</li>
        <li>Use the remaining sections (<a href="../planning/index.html">Planning</a>, <a href="../building/index.html">Building</a>, etc.) to learn best practices for constructing and publishing a site at the University.</li>
    </ol>
    <p>For information on obtaining training for Dreamweaver,   Photoshop, Illustrator, and other Web tools, ITS suggests that users   obtain training through the Lynda.com training website.</p>
    <h2><a href="site_type.html">What Type of Web Site do you need?</a></h2>
    <p>Start here to determine what type of site you want to construct and what resources you may need to complete it.</p>
    <h2><a href="resources.html">The Resources You Will Need</a></h2>
    <p>Provides guidance on ascertaining the resources necessary to   construct and publish a Web site at Cal Poly. The resources you will   need are dependent in part on the <a href="site_type.html">type of site</a> you want to construct.</p>
    <h2><a href="official.html">Official Web Pages</a></h2>
    <p>Is your Web page/site &quot;official&quot; according to Cal Poly policy?   Find out if what an official page/site is and what requirements must be   implemented.</p>
    <h2><a href="copyright_fairuse.html">Copyright and Fair Use</a></h2>
    <p>What is Fair Use? Do you have permission to use someone else's Copyrighted material on your Web site?</p>
    <h2><a href="resources/polylearn.html">Courseware (PolyLearn)</a></h2>
    <p>The PolyLearn service is specifically designed to house and manage all course<br />
        content and activities on-line.</p>
    <h2><a href="usingtemplates.html">Using Templates</a></h2>
    <p>The University provides Web templates (for use with <a href="official.html">&quot;official&quot; Cal Poly Web pages</a>) that are designed to promote a user-friendly and convenient experience for Cal Poly Web visitors.</p>
    <h2><a href="accounts.html">Getting Accounts</a></h2>
    <p>Figure out what type of account you need and how to get that account. </p>
    <h2><a href="custom_web_addresses.html">Custom Web Addresses</a></h2>
    <p>Obtain a simplified URL for a campus Web site.</p>
    <h2><a href="virtualhosts.html">Virtual Hosts</a></h2>
    <p>Provides information for campus technical persons on what a   virtual host is and how a Custom Web Address works with a virtual host .</p>
    <h2><a href="resources/outsourcing.html">Outsourcing Web Work</a></h2>
    <p>Basic information for vendors who will be developing Web sites for Cal Poly units.</p>
    <h2><a href="central_unix_tools.html">Central UNIX Web Tools</a></h2>
    <p>Information that is specific for working with Web files on the Central UNIX Web server.</p>
    <!-- #EndEditable -->
</div><!--mainLeft-->

<div id="mainLeftFull">
    <!-- #BeginEditable "Main Left Full" --><!-- #EndEditable -->
</div><!--mainLeftFull-->



<div id="footerSocial"></div>

<ul id="footer_links">
    <li><a href="http://www.calpoly.edu/">CP Home</a></li>
    <li><a href="http://www.calpoly.edu/directory.html">Directory</a></li>
    <li><a href="http://maps.calpoly.edu/">Campus Maps &amp; Directions</a></li>
    <li><a href="http://www.elcorralbookstore.com/">Bookstore</a></li>
    <li><a href="http://registrar.calpoly.edu/acad_cal/">Calendar</a></li>
    <!--<li><a href="#">Sitemap</a></li>-->
    <li><a href="http://www.afd.calpoly.edu/hr/jobopportunities.asp">Employment</a></li>
    <li><a href="http://www.calpoly.edu/policy.html">Campus Policies</a></li>
    <li><a href="http://www.calpoly.edu/contactus.html">Contact Us</a></li>
    <li id="footerLogo"><a href="http://www.calpoly.edu/"><img src="https://webresource.its.calpoly.edu/cpwebtemplate/5.1.0/common/images_html/footer/footer_logo.png" height="24" width="138" alt="Cal Poly" title="Go to Cal Poly Home" /></a></li>
</ul>

<ul>
    <li><a href="http://get.adobe.com/reader/">Get Adobe Reader</a></li>
    <li><a href="http://office.microsoft.com/en-us/downloads/">Microsoft Viewers</a></li>
</ul>

<div id="footer_deptinfo">
    <p>&#169; 2012 California Polytechnic State University &nbsp;<img src="https://webresource.its.calpoly.edu/cpwebtemplate/5.1.0/common/images_html/footer/footer_separator.jpg" alt="" height="10" width="1" />&nbsp; San Luis Obispo, California 93407<br />
        Phone: 805-756-1111</p>
</div>