
    <div class="contentLine"></div>

    <div ng-bind-html="bl.blog[0].content"></div>

    <div ng-hide="bl.blog">
        <p class="text-center">No Blogs Found</p>
    </div>
    <hr>
    <!--<accordion>-->
        <!--<accordion-group is-open="status.open">-->
            <!--<accordion-heading>-->
                <!--Json Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>-->
            <!--</accordion-heading>-->
            <!--<pre>{{ bl.blog | json }}</pre>-->
        <!--</accordion-group>-->
    <!--</accordion>-->



<div class="clear"></div>