
    <div class="contentLine"></div>

    <div id="mainLeft" ng-repeat="bs in bl.blogs">
        <h2><a ng-href="/content/{{bs.title}}">{{bs.title}}</a></h2>
        <div ng-hide="bl.blogs.length">
            <p class="text-center">No Blogs Found</p>
        </div>
    </div>


    <hr>
    <!--<accordion>-->
        <!--<accordion-group is-open="status.open">-->
            <!--<accordion-heading>-->
                <!--Json Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>-->
            <!--</accordion-heading>-->
            <!--<pre>{{ bl.blogs | json }}</pre>-->
        <!--</accordion-group>-->
    <!--</accordion>-->


<div class="clear"></div>