
<div class="rightNav">
    <h2><a href="index.html">RECENT POST</a></h2>
    <ul>
        <li><a href="">data</a></li>
        <li><a href="resources.html">What You'll Need</a></li>
        <li><a href="official.html">Official Web Pages</a></li>
    </ul>
    <h2><a href="index.html">SEARCH BY TAGS</a></h2>
    <ul>
        <li><a href="copyright_fairuse.html">Copyright/Fair Use</a></li>
        <li><a href="resources/polylearn.html">Courseware (PolyLearn)</a></li>
        <li><a href="usingtemplates.html">Using Templates</a></li>
    </ul>
    <h2><a href="index.html">ARCHIVE</a></h2>
    <ul>
        <li><a href="accounts.html">Getting Accounts</a></li>
        <li><a href="custom_web _addresses.html">Custom Web Addresses</a></li>
        <li><a href="virtualhosts.html">Virtual Hosts</a></li>
        <li><a href="resources/outsourcing.html">Outsourcing Web Work</a></li>
        <li><a href="central_unix_tools.html">Central UNIX Web Tools</a></li>
    </ul>
</div>